body{
    text-shadow: $sombra
}
.primerDiv{
    text-align: center;
    padding-top: 220px;
}
.casilla{
    background-color: $casilla;
    box-shadow: $sombra;
}
// COLOR DIV CAROUSEL
.yellow{
background-color: orange;
}
// CAROUSEL
.carousel{
    padding-top: 15%;
}
//   FIN CARUSEL
.belowCaro{
    background-color: black;
    padding-top: 5%;

    h4{
        color: gold;
    }
}
.cedears{
    background-color: black;
    h4{
        color: gold;
    }
}