
// IMAGEN BITCOIN
.btcDiv{
    background-image: url(https://mecaluxes.cdnwm.com/blog/img/blockchain-informacion-agil-seguridad.1.9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20%;
    padding-bottom: 2%;
    @media screen and (max-width: 768px){
        padding-top: 40%;
        padding-bottom: 20%;
        }
}
// SECCION UNO
.divUno{
    padding-top: 2%;
    padding-bottom: 30px;
    text-align: left;
    background-color: black;
}
h1{
    color: gold;
}
.black{
    background-color: black;
}
// SECCION NARANJA
.orange{
    background-color: orange;
    padding-top: 2%;
    h1{
        color: rgb(82, 82, 82);
    }
    p{
        color: black;
        
    }
    .cripto{
        text-align: center;
    }
    .cripto:hover{
        box-shadow: $sombra;
    }
    @media screen and (max-width: 768px){
        .cripto{
            margin-bottom: 2rem;
        }
    }
}