
// MAIN
.divUno{
    background-color: black;
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: center;
}
h1{
    color: gold;
}
.black{
    background-color: black;
    min-width: 440px;
}

