.portadaRS{
    background-image: url(https://www.xtrafondos.com/wallpapers/pasto-1455.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 270px;
}

.fDiv{
    background-color: black;

}